# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [2, 4, 3]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
sort_translit = false
linemode = "size"
show_hidden = true
show_symlink = true
scrolloff = 5
mouse_events = ["click", "scroll"]
title_format = "Yazi: {cwd}"

[preview]
wrap = "no"
tab_size = 4
max_width = 600
max_height = 900
cache_dir = ""
image_delay = 30
image_filter = "triangle"
image_quality = 75
ueberzug_scale = 1
ueberzug_offset = [0, 0, 0, 0]

[opener]
edit = [
	{ run = '${EDITOR:-vi} "$@"', desc = "$EDITOR", block = true, for = "unix" },
]
open = [{ run = 'xdg-open "$1"', desc = "Open", for = "linux" }]
reveal = [
	{ run = 'xdg-open "$(dirname "$1")"', desc = "Reveal", for = "linux" },
	{ run = '''clear; exiftool "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show EXIF", for = "unix" },
]
extract = [
	{ run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
]
play = [
	{ run = 'mpv --force-window "$@"', orphan = true, for = "unix", desc = "Play with MPV" },
	{ run = 'vlc "$@"', orphan = true, for = "unix", desc = "Play with VLC" },
	{ run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]
zathura = [
	{ run = 'zathura "$@"', orphan = true, for = "unix", desc = "Open with Zathura" },
]
# play_music = [
# 	{ run = 'mpv --force-window "$@"', orphan = true, for = "unix", desc = "Play with MPV" },
# 	{ run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
# ]
[open]
rules = [
	# Folder
	{ name = "*/", use = [
		"edit",
		"open",
		"reveal",
		"play",
	] },
	# Text
	{ mime = "text/*", use = [
		"edit",
		"reveal",
	] },
	# Image
	{ mime = "image/*", use = [
		"open",
		"reveal",
	] },
	# Video
	{ mime = "{video}/*", use = [
		"play",
		"reveal",
	] },
	# Music
	{ mime = "{audio}/*", use = [
		"play",
		"reveal",
	] },
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [
		"extract",
		"reveal",
	] },
	# JSON
	{ mime = "application/{json,ndjson}", use = [
		"edit",
		"reveal",
	] },
	{ mime = "*/javascript", use = [
		"edit",
		"reveal",
	] },
	# Empty file
	{ mime = "inode/empty", use = [
		"edit",
		"reveal",
	] },
	# PDF
	{ mime = "application/pdf", use = [
		"zathura",
		"reveal",
	] },
	# epub
	{ mime = "application/epub+zip", use = [
		"zathura",
		"reveal",
	] },
	# djvu
	{ mime = "image/vnd.djvu", use = [
		"zathura",
		"reveal",
	] },
	# Fallback
	{ name = "*", use = [
		"open",
		"reveal",
	] },
]

[plugin]
prepend_fetchers = [
	{ id = "git", name = "*", run = "git" },
	{ id = "git", name = "*/", run = "git" },
]
